* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Jost', sans-serif;
}

.container{
    max-width: 75rem;      /* für responsive Design kleine Bildschirme */
    margin: 0px auto;   
}

.header {
    height: 35rem;  /* Schriftgröße * rem = 640px */
    min-height: calc(13rem + 32vw);       /* für responsive Design große Bildschirme */
    position: relative;
    overflow: hidden;  
}

/* 1200px oder schmaler */
@media (max-width: 75em) {
    header {
        height: calc(15rem + 32vw);
    }
}

/*@media (max-width: 112.5em) {
    header {
        min-height: 45vw;
    }
} */

.header__container {
    position: relative;
}

.header__slope {
    position: absolute;
    left: 0;        /* left: 0 und right: 0 in Kombination macht die width zu 100% */
    right: 0;
    bottom: 0;
    height: 10vw;

    background-image: linear-gradient(-5.71deg, white 49.9%, transparent 50.1%);
    background-repeat: no-repeat;
    background-position: center 100%;
    background-size: 100vw 10vw;
    z-index: 1;
}

.header::before {
    content: "";
    top: 0;
    width: 100vw;
    bottom: -9rem;
    position: absolute;
    background-image:  url("../images/pexels-benjamin-suter-3617500.jpg"); 
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% auto;
}
@media (max-width: 75em) {
    .header::before {
        bottom: -4rem;
    }
}
@media (max-width: 62em) {
    .header::after {
        bottom: -1rem;
    }
}

.header::after {
    content: "";
    height: 33vw;
    position: absolute;
    width: 100vw;
    bottom: -9rem;

    background-image: url("../images/pexels-benjamin-suter-3617500-mountains.webp"); 
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% auto;
}
@media (max-width: 75em) {
    .header::after {
        bottom: -4rem;
    }
}

@media (max-width: 62em) {
    .header::after {
        bottom: -1rem;
    }
}

@media (max-width: 36em) {
    .header::before {
        background-size: cover;
    }
    .header::after {
        display: none;
    }
}

.icon {
    fill: currentColor;
    height: 1em;
    vertical-align: middle;
    position: relative;
    top: -0.075em;
}

.navigation__list-item {
    list-style-type: none;
    display: block;
    float: left;
}

@media (max-width: 62em) {
.navigation__list-item--mobile-hidden {
    display: none;
}
}

.navigation__list-item--menu {
    float: right;
    font-size: 3rem;
}

.navigation__list-item-link {
    color: white;
    text-decoration: none;
    padding: 0.5rem 0.25rem 0.25rem 0.25rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    display: block;
    text-shadow: 0 0 0.5rem black;
    
}

.navigation__list-item-link:hover {
    border-bottom: 0.2rem solid rgb(0, 226, 156); 
}

.navigation__list-item--menu .navigation__list-item-link {
    margin-top: 0.45rem;
}

.navigation__list-item--menu .navigation__list-item-link:hover {
    border-bottom: none;
    color: rgb(200, 200, 200);
}

.navigation__list-item-link--logo{
    margin-top: 0.9rem;
}

.navigation__list-item-link--logo:hover{
    border-bottom: none;
    color: rgb(200, 200, 200);

}

.navigation__list-item-logo {
    width: 4rem;
    height: 4rem;
    fill: currentColor;
    
}

.header__heading-container {
    clear: both;            /*bereinigt float des navbar, wodruch das Element darunter platziert wird*/
}

.header__heading-main {
    padding-top: 5rem;
    line-height: 92%; 
    font-size: 7rem;
    text-align: center;
    text-transform: uppercase;
    color: white;
    text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}
@media (max-width: 62em) {
    .header__heading-main {
        font-size: 4rem;
    }
}
@media (max-width: 48em) {
    .header__heading-main {
        font-size: 3rem;
    }
}
.header__heading-sub {
    margin-top: 1rem;
    color: white;
    text-transform: uppercase;
    font-size:1.5rem;
    letter-spacing: 0.5rem;  /*Abstand der einzelnen Buchstaben in Text*/
    text-align: center;
    text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    z-index: 1;
    position: relative;
}
@media (max-width: 48em) {
    .header__heading-sub {
        font-size: 1rem;
    }
}

